<h1>Shit to-do</h1>
<p><%= @task.name %> : </p>
<p><%= @task.description %> </p>
<p>task created on: <%= @task.created_at.strftime("%D") %></p>
<%= link_to 'Back', tasks_path %>
<%= link_to 'Edit', edit_task_path %>
<%= link_to 'Delete', task_path(@task), method: :delete %>
